.page{
    margin:0;
    padding:0;
    width: 100%;
    height: 100vh;
    background-image: url('/image/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.column-style{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.signin-container{
    width: 600px;
    height:  fit-content;
    position: relative;
    right: 0; left: 0;
    margin: auto; 
    bottom: 0; top: 150px;
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(63, 68, 65, 0.50);
}
.signin-header{
    background-image: linear-gradient(to left, #00c6ff, #0072ff);
    width: 300px;
    height: 60px;
    position: inherit;
    margin: auto;
    left: 0; right: 0; top: -55px;
    font-size: 20px;
    padding: 15px;
    border-radius: 40px 0 40px 0 ;
    color: white;
    margin-bottom: 0px;
    text-align: center;
}
.text-style{
    margin: 0;
    color: white;
}
.signup-button-style{
    margin-top: 10px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: rgb(0, 114, 255) solid 2px;
    background-color: rgba(63, 68, 65, 0.5);
    color: #0072ff;
}
.signup-button-style:hover{
    background-image: linear-gradient(to left, #00c6ff, #0072ff);
    outline: none;
    color: white;
    border: 1px solid rgb(0, 198, 255);
}
.button-style{
    margin: 10px;
    background-image: linear-gradient(to left, #00c6ff, #0072ff);
    width: 200px;
    height: 50px;
    color: white;
}