.container {
    /* margin: 0;
    padding: 0 100px !important;
    box-sizing: border-box;
    width: 100%;
    height: auto; */
    color: #ffffff;
}
.profile-position{
    margin-top: 80px;
    width: 100%;
    text-align: center;
}
.profile-img{
    width: 200px;
    height: 200px;
    border: 6px solid #d3d3d3;
    border-radius: 50%;
}
.profile-edit{
    text-align: center;
}
.profile-margin{
    margin-top : 0;
}
.left-textbox-style{
    width: 50% !important;
    margin-left: 20% !important; 
    margin-right: 10% !important;
}
.right-textbox{
    width: 60% !important;
    text-align: right;
    margin-left: 40% !important; 
}
.left-label-style{
    margin-left: 25%;
    margin-bottom: 0;
    width: 100%;
    text-align: left;
}
.right-label-style{
    padding-right: 5% !important;
    margin-bottom: 0;
    width: 100%;
    text-align: right;
}
.profile-dob-style{
    text-align: right;
    outline: none;
    color : black;
    border: 1px solid rgba(128, 128, 128, 0.6);
    padding: 6px 15px;
    width: 128%;
    /* margin-left: 14%;  */
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica";
    margin-left: -30% !important;
}
.table-style{
    margin-top: 50px;
    padding: 15px 25px;
}

.id-position{
    margin-top: 15px;
}

.right-content{
    text-align: right !important; 
    padding-right: 10% !important;   
}

.gender-style{
    padding-top: 0 !important;
}