@import url('https://fonts.googleapis.com/css2?family=Nokora:wght@400;700&family=Odor+Mean+Chey&family=Suwannaphum&display=swap');

body {
  background-image: url("../../../images/flowerblack1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.my-card {
  border: none;
  color: white;
  background-image: linear-gradient(to right, #00c6ff, #0072ff);
  border-radius: 15px;
}

.my-card:hover{
  box-shadow: 0 4px 8px 0 rgb(24, 70, 255), 0 6px 20px 0 rgb(121, 121, 255);
}

.title-background{
  margin: 25px 0;
  padding: 15px 0 0 50px;
  color: rgb(242, 255, 0);
  text-shadow: 2px 2px darkslategrey;
  /* background-image: linear-gradient(to right, #fff700, #00000000); */
  background-image: linear-gradient(to right, #0073ff, #00000000);
  width: 400px;
  height: 60px;
  text-align: left;
}

.card-title{
  background-image: linear-gradient(to right, #000000, #00000000);
  padding: 20px 0 10px 0;
}

.card-body{
  padding: 15px 0;
}

.button-mode{
  margin: 10px;
  width: 400px;
}

.group-button{
  position: absolute;
  z-index: 100;
  margin: 120px 0 0 100px;

}

.banner{
  width: 100%;
  position: absolute;
  z-index: 99;
  background-image: linear-gradient(to right, #000000, #00000000);
  height: 180px;
  color: #ffffff;
  text-align: left;
  padding-left: 120px;
  padding-top: 30px;
  margin: 310px 0;
}