.my-table{
    margin: 0;
    padding: 0 !important;
    box-sizing: border-box;
    text-align: center;
}
.table-header-bg{
    background-image: linear-gradient(to left, #00c6ff, #0072ff) !important;
    font-weight: normal !important;
}
.table-header-color{
    color : white;
    font-weight: normal;
}
.table-style{
    /* margin: 20px 15% 30px 15%; */
    width: 100% !important;
    border-collapse: collapse;
    border-radius: 5px !important;
    overflow: hidden;
    background-color: rgb(240, 250, 255);
}

.table-style tr:nth-child(even){background-color: #ffffff}

.row-bg-color{
    /* background-color: #e40000; */
    opacity: 1;
}
